In [1]:
bool(1.0)

True

In [2]:
bool(True)

True

In [7]:
"0123465".find('6')

5

In [8]:
A=(0,1,2,3)

In [10]:
A[3]

3

In [11]:
A[-1]

3

In [12]:
A[end]

NameError: name 'end' is not defined

In [13]:
B=["a","b","c"]

In [14]:
B[1:]

['b', 'c']

In [17]:


S={'A','B','C'}

U={'A','Z','C'}

S.union(U)

{'A', 'B', 'C', 'Z'}

In [18]:
D={'a':0,'b':1,'c':2}

In [19]:
d[1]

NameError: name 'd' is not defined

In [21]:
D['a']

0

In [22]:
D[1]

KeyError: 1

In [25]:
D.values()



L=['A','B']

In [26]:
L.append(['a','b'])

In [28]:
L.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [29]:
L=[1,2,3,55,6,7,324324]

In [30]:
L.sort()

In [31]:
L

[1, 2, 3, 6, 7, 55, 324324]

In [32]:
sort(L)

NameError: name 'sort' is not defined

In [41]:


import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [42]:
df

   a  b
0  1  1
1  2  1
2  1  1

In [50]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [51]:
 A='1234567'

In [52]:
A[1::2]

'246'

In [53]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [54]:
A=((11,12),[21,22])

In [55]:
A[0][1]

12